<div class="container">
  <h2>Editing {{user.first_name}} {{user.last_name}}</h2>
  <form id="edit-user-form">
    <div class="row">
      <div class="input-field col-sm-12">
        <label for="title">First Name</label>
        <input class="input-field col-sm-12" name="first_name" type="text" placeholder="{{user.first_name}}">
      </div>
      <div class="input-field col-sm-12">
        <label for="title">Last Name</label>
        <input class="input-field col-sm-12" name="last_name" type="text" placeholder="{{user.last_name}}">
      </div>
      <div class="input-field col-sm-12">
        <label for="avatar">Link to Picture</label>
        <input name="avatar" type="text" placeholder="{{user.avatar}}">
      </div>
      <div class="input-field col-sm-12">
        <label for="bio">Bio</label>
        <textarea name="bio" class="materialize-textarea" placeholder="{{user.bio}}"></textarea>
      </div>
      <button type="submit" class="waves-effect waves-light btn-large">Submit</button>
    </div>
  </form>
</div>
